.pad-nav {
  padding-top: $nav-height;
}

.rw.reverse-on-tablet {
  @media screen and (max-width: 770px) {
    flex-direction: column-reverse;
  }
}

.rw.reverse-on-mobile {
  @media screen and (max-width: 560px) {
    flex-direction: column-reverse;
  }
}

.rw.no-compensate {
  margin-left: 0;
  margin-right: 0;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.no-pad {
  padding: 0;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.fixed-container {
  transform: translateZ(0);
}

.block {
  display: block;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-bottom {
  align-items: flex-end;
}

.align-items-right {
  align-items: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
  backface-visibility: hidden;
}
